<div class="mb-4 w-full">
     <span class="text-3xl font-bold text-600 md:mx-auto mx-3"
          >Bienvenido de nuevo</span
     >
</div>

<div class="w-full">
     <form class="flex gap-4 flex-column" [formGroup]="loginForm">
          <div class="flex flex-column gap-2">
               <label htmlFor="email" class="text__primary"
                    >Correo electrónico</label
               >
               <input
                    class="w-full p-3 border-round-md border-1 bg-transparent"
                    pInputText
                    id="email"
                    type="email"
                    formControlName="email"
                    placeholder="some@davivienda.com"
               />
          </div>
          <div class="flex flex-column gap-2">
               <label htmlFor="password" class="text__primary"
                    >Contraseña</label
               >
               <input
                    class="w-full p-3 border-round-md border-1 bg-transparent"
                    pInputText
                    id="password"
                    type="password"
                    formControlName="password"
               />
          </div>
          <p-button
               pRipple
               label="Iniciar Sesión"
               (click)="login()"
               icon="pi pi-sign-in"
               iconPos="right"
               styleClass="p-button-primary text-white font-bold w-full"
          ></p-button>
          <p-toast
               [breakpoints]="{
                    '920px': { width: '100%', right: '0', left: '0' }
               }"
          ></p-toast>
     </form>
</div>
