<div
     class="border-round-3xl relative border-1 p-3 mt-4 bg-white border-200"
     [routerLink]="['/dashboard/eventos', event.id]"
>
     <div
          class="absolute top-0 left-0 bottom-0 border-round-left-3xl w-3rem"
          [style]="{ 'background-color': communityColor }"
     ></div>
     <div class="flex flex-row justify-content-between gap-2 ml-6">
          <div class="flex flex-column">
               <p class="text-center" [style]="{ color: communityColor }">
                    {{ event.title }}
               </p>

               <p styleClass="mt-2 ">
                    {{ getFormattedDate(event.dateTime) }}
               </p>
          </div>

          <div class="flex gap-1 justify-content-center align-items-center">
               <p-tag
                    [severity]="event.status == 'Activo' ? 'success' : 'danger'"
               >
                    {{ event.status }}
               </p-tag>
          </div>
     </div>
</div>
