<shared-loader *ngIf="!eventsAtDate"></shared-loader>

<div>
     <div class="grid">
          <div class="col-12 md:col-12 flex justify-content-end">
               <p-splitButton
                    label="Crear"
                    icon="pi pi-plus"
                    [model]="this.items"
                    styleClass="p-button-raised p-button-rounded"
               />
          </div>
     </div>

     <div
          class="grid gap-2 cursor-pointer py-2 border-round-lg justify-content-evenly"
     >
          <div class="col-12 md:col-5 lg:col-2">
               <home-card-stats
                    [title]="'Eventos activos'"
                    [data]="activeEvents ? activeEvents : 0"
                    [color]="'#fff0c3'"
                    [iconColor]="'#ff9800'"
               />
          </div>

          <div class="col-12 md:col-5 lg:col-2">
               <home-card-stats
                    [title]="'Eventos inactivos'"
                    [data]="inactiveEvents ? inactiveEvents : 0"
                    [color]="'#e0e4ea'"
                    [iconColor]="'#757575'"
               />
          </div>
     </div>

     <div class="border-round-lg flex flex-column gap-5 col-12">
          <h3 class="text-md">Comunidades</h3>

          <communities-communities-slider />
     </div>

     <div
          class="mt-2 w-full bg-white px-2 border-round-lg flex flex-column gap-4"
     >
          <h3 class="text-md">Proximos eventos</h3>
          <div class="w-full flex justify-content-center align-items-center">
               <div
                    *ngIf="!eventsAtDate || eventsAtDate.length === 0"
                    class="col-12 flex justify-content-center align-items-center flex-column gap-4"
               >
                    <span class="text-500">No hay eventos para mostrar</span>
                    <i class="text-5xl text-500 pi pi-info-circle"></i>
               </div>

               <p-scroller
                    [items]="eventsAtDate"
                    [itemSize]="70"
                    scrollHeight="400px"
                    styleClass="w-full "
               >
                    <ng-template
                         pTemplate="event"
                         let-event
                         let-options="options"
                         class=""
                    >
                         <a
                              [routerLink]="['/dashboard/eventos', event.id]"
                              style="text-decoration: none"
                              class="text-400 w-full mb-5"
                         >
                              <events-event-card
                                   [communityColor]="event.community.color"
                                   [event]="event"
                              />
                         </a>
                    </ng-template>
               </p-scroller>
          </div>
     </div>
</div>
