<p-sidebar
     [(visible)]="isVisible"
     styleClass="bg-white"
     (onHide)="handleToggleMenu()"
>
     <div class="flex justify-content-center align-items-center">
          <img src="assets/logo.png" alt="logo" class="w-8" />
     </div>
     <div class="p-grid p-dir-col p-fluid mt-2">
          <div class="p-col" *ngFor="let route of routes">
               <a
                    [routerLink]="route.path"
                    routerLinkActive="active-link"
                    style="text-decoration: none"
                    class="p-button p-button-text p-button-lg p-stretched border-round-3xl text__secondary"
               >
                    <i [class]="route.icon" style="font-size: 1rem"></i>
                    {{ route.name }}
               </a>
          </div>
     </div>
     <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <div class="p-grid p-dir-col p-fluid mt-2" style="margin-top: auto">
               <div class="p-col">
                    <a
                         routerLink="/dashboard/perfil"
                         routerLinkActive="active-link"
                         style="text-decoration: none"
                         class="p-button p-button-text p-button-lg p-stretched border-round-3xl text__secondary"
                    >
                         <i
                              class="pi pi-user-edit mr-4"
                              style="font-size: 1rem"
                         ></i>
                         Perfil
                    </a>
               </div>
               <div class="p-col">
                    <button
                         style="text-decoration: none"
                         (click)="logout()"
                         class="p-button p-button-text p-button-lg p-stretched border-round-3xl text__secondary"
                    >
                         <i
                              class="pi pi-sign-out mr-4"
                              style="font-size: 1rem"
                         ></i>
                         Cerrar Sesión
                    </button>
               </div>
          </div>
     </ng-template>
</p-sidebar>
